$river_Bed: #455054;
$darkest_grey: #353F43;
$highlight_yellow: #ffb200;
$black_grey: #1a2022;
$light_periwinkle: #cfd5e5;
$greyish_brown: #595959;
$light_icon_grey: #c1c8cb;
$off_white: #d8d8d8;
$dark_red: #ff453a;
$greyish: #b2b2b2;
$warm_grey: #979797;
$bluey_grey: #8f9bbc;
$bluey_grey_500: #718891;
$battleship_grey: #61747b;
$bright_orange: #ff5a00;
$cool_grey: #8c9fa6;
$cool_grey_200: #a7b2b6;
$muddy_brown: #896208;
$pale_grey: #ebebf5;
$black: #000000;
$white: #ffffff;