@font-face {
  font-family: 'HiraginoSans-W3';
  src: url('../fonts/HiraginoSans/HiraginoSans-W3/HiraginoSans-W3.woff2') format('woff2'),
    url('../fonts/HiraginoSans/HiraginoSans-W3/HiraginoSans-W3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HiraginoSans-W6';
  src: url('../fonts/HiraginoSans/HiraginoSans-W6/HiraginoSans-W6.woff2') format('woff2'),
    url('../fonts/HiraginoSans/HiraginoSans-W6/HiraginoSans-W6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next light';
  src: url('../fonts/AvenirNext/avenir_next-light-webfont.woff2') format('woff2'),
    url('../fonts/AvenirNext/avenir_next-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../fonts/AvenirNext/avenir_next-medium-webfont.woff2') format('woff2'),
    url('../fonts/AvenirNext/avenir_next-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../fonts/AvenirNext/avenir_next-regular-webfont.woff2') format('woff2'),
    url('../fonts/AvenirNext/avenir_next-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}